DATABASE_URL="file:./dev.db"
AUTH_SECRET="change-this-to-a-long-random-secret"

# Productionhoz hasznalj eros sajat titkot, pl.:
# AUTH_SECRET="egy-nagyon-hosszu-veletlen-titok"

# Ha Node.js szerveren futtatod SQLite-tal, hasznalhatsz szerveroldali fajlutvonalat is:
# DATABASE_URL="file:./prisma/dev.db"
